<a href="https://colab.research.google.com/github/PranavSeshadri/Getting_and_cleaning_Data_project/blob/master/DataFindings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import torch
 import pandas as pd

In [ ]:
# mount drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
apps_file = ('/content/gdrive/My Drive/apps.csv')
funding_rounds_file = ('/content/gdrive/My Drive/funding_rounds.csv')
rs_pipeline_log_file = ('/content/gdrive/My Drive/rs_pipeline_log.csv')
active_screen_nominees_2021Q2_2022Q1_file = ('/content/gdrive/My Drive/active_screen_nominees_2021Q2_2022Q1.csv')

In [ ]:
apps_df = pd.read_csv(apps_file)
funding_rounds_df = pd.read_csv(funding_rounds_file)
rs_pipeline_log_df = pd.read_csv(rs_pipeline_log_file)
active_screen_df = pd.read_csv(active_screen_nominees_2021Q2_2022Q1_file)

In [ ]:
apps_df

,app_id,rs_created_at,rs_updated_at,id,publisher_id
0,1565759749,2021-05-17 04:14:34.000778,2022-03-30 05:22:09.987101,112738290,1.473751e+09
1,1547156819,2021-01-29 23:41:55.076402,2021-06-25 06:32:13.47904,112738290,1.473751e+09
2,1473750555,2020-09-12 03:23:44.795347,2021-11-25 04:45:16.008008,112738290,1.473751e+09
3,1493046325,2020-09-19 22:01:03.206922,2022-02-20 06:01:10.34035,112738290,1.473751e+09
4,1229632235,2020-08-27 04:18:40.152069,2022-03-30 06:02:48.578399,123110833,1.229632e+09
...,...,...,...,...,...
4052827,20600014580042,2021-09-23 22:00:22,2021-09-23 22:00:22,418884,NaN
4052828,20600014590963,2021-09-23 21:59:53,2021-09-23 21:59:53,76865654,NaN
4052829,20600014592886,2021-09-23 22:00:11,2021-09-23 22:00:11,58637220,NaN
4052830,20600015320443,2021-08-12 04:43:26,2021-08-12 04:43:26,17047344,NaN
4052831,20600015581239,2021-09-23 22:01:09,2021-09-23 22:01:09,104868465,2.020000e+13

In [ ]:
apps_df.describe()

             app_id            id  publisher_id
count  4.052832e+06  4.052832e+06  4.014889e+06
mean   9.798064e+12  4.239426e+07  9.543923e+12
std    1.028716e+13  4.445765e+07  1.008420e+13
min    1.000000e+02  2.128200e+05  2.816565e+08
25%    1.169370e+09  1.771216e+06  8.935401e+08
50%    1.568522e+09  2.572786e+07  1.536924e+09
75%    2.060001e+13  1.011874e+08  2.020000e+13
max    2.060002e+13  1.411063e+08  2.020000e+13

In [ ]:
funding_rounds_df

NameError: ignored

In [ ]:
funding_rounds_df.describe()

,id,org_id,amount,pre_money_valuation,post_money_valuation,type,computed_type
count,1.045882e+06,1.045882e+06,6.195080e+05,1.175600e+05,1.471410e+05,1.045881e+06,1.045882e+06
mean,3.009040e+07,2.350386e+07,8.943500e+07,2.340916e+08,5.049626e+08,1.065697e+03,1.078744e+03
std,1.564474e+06,3.153480e+07,1.472087e+09,6.647765e+09,7.327083e+09,8.067368e+03,8.116734e+03
min,3.110000e+02,2.128160e+05,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00
25%,2.899366e+07,1.122568e+06,4.000000e+05,0.000000e+00,5.280000e+06,0.000000e+00,0.000000e+00
50%,3.043569e+07,1.540508e+07,2.130969e+06,4.294994e+06,2.223584e+07,1.000000e+00,2.000000e+00
75%,3.135239e+07,3.706227e+07,1.200000e+07,2.550000e+07,1.230000e+08,1.001000e+03,1.001000e+03
max,3.167152e+07,1.316363e+08,6.697059e+11,1.854400e+12,1.880000e+12,1.000000e+05,1.000000e+05

In [ ]:
active_screen_df.describe()

         nominee_id          rank     screen_id
count  5.363065e+06  5.363065e+06  5.363065e+06
mean   1.060982e+13  4.998951e+01  2.122064e+06
std    1.029508e+13  2.889353e+01  2.704918e+05
min    2.130890e+05  1.000000e+00  1.541849e+06
25%    4.704121e+08  2.500000e+01  1.886500e+06
50%    2.060000e+13  5.000000e+01  2.122931e+06
75%    2.060001e+13  7.500000e+01  2.360613e+06
max    2.060002e+13  1.000000e+02  2.617290e+06